.title {
    font-family: 'Sora' ;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 14px ;
    line-height: 20px ;
    color: #3D261C ;
}

.subtitle{
    font-family: 'Sora' ;
    font-style: normal ;
    font-weight: 500 ;
    font-size: 14px ;
    line-height: 20px ;
    color: #3D261C ;
}